/* Global Styles */

/* Whole HTML */
html * {
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

/* Button Style (For all button class) */
.button {
  background-color: #4caf50;
  /* this will apply current style to anything in html with class="button"*/
  border: none;
  color: white;
  width: 80%;
  padding: 3px;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
}

/* Button Hover Over */
.button:hover {
  background-color: #08530b;
  color: white;
}

h1 {
  color: green;
}

/* End of Global Styles */

/* Game Button */
#gameBtn {
  padding-top: 40px;
}

/* Score Display */
#gameScore {
  padding-top: 30px;
  width: 50%;
  text-align: right;
}

/* Word and Message Display */
#wordDisplay {
  text-align: center;
}

/* Stickman Canvas */
#stickman {
  position: relative;
  left: 0px;
  top: 20px;
  background-color: rgb(112, 212, 255);
  border-style: dotted;
  border-color: black;
}
